@font-face {
  font-family: 'BYekan';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/BYekan.ttf');
}
.yekanFont{
  font-family: 'BYekan';
}
#root {
  font-family: 'BYekan';
  background-color: #F2F4F5;
  min-height: 100vh;
}
.fs-16{
  font-size: 16px !important;
}
.fs-14{
  font-size: 14px !important;
}
.bgColorWhite{
  background-color: #FFFFFF;
}
body{
  background-color: #F2F4F5;
}
.myBoxShadow{
  box-shadow: rgba(0,0,0,0.2) 0px 4px 12px; 
  border-radius: 4;
}
.form-check-input:checked {
  background-color: #007575 !important;
  border-color: #007575 !important;
}
a {
  text-decoration: none;
}